<body>
    <header class="header_nav">
        <nav>
            <ul class="header_nav_ul">
                <li class="header_nav_li">
                    <a class="<%= path === '/addProduct'? 'li_items active':'li_items' %>" href="/admin/add-product">Add Products</a>
                </li>
                <li class="header_nav_li">
                    <a class="<%= path === '/product'? 'li_items active':'li_items' %>" href="/admin/product">Shop</a>
                </li>
            </ul>
        </nav>
    </header>