.main-content{
    padding:20px
}

.box {
    border: 1px solid black;
    width: 30%;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
}

.prodImage{
    width: 100%;
}

.title{
    text-align: center;
}

.price{
    padding: 10px;
}

.buttons{
    text-align: center;
}

